
<div class="text-center padded">
<h1>All my reservations</h1>
</div>
<div class="wrapper-dashboard">
    <% @bookings.each do |booking| %>
          <aside class="profile-card">
            <header>
              <a target="_blank" href="#">
                <img src=" <%= booking.vehicle.image %> " class="hoverZoomLink">
              </a>

              <h4>
                    <strong><%= booking.vehicle.name %></strong></p>
                    </h4>

              <h2>
              <p>Category: <strong><%= booking.vehicle.category %></strong></p>
                    </h2>
                    <p><%= booking.user.email %></p>
            </header>

         <%= link_to  booking_path(booking.id) do %>
              <div class="profile-bio">
                <p> <%= booking.vehicle.description %> </p>
              </div>
      <% end %>
        </aside>
    <% end %>
</div>
