
<div class="text-center padded">
<h1>All your reservations</h1>
</div>
<div class="wrapper-dashboard">
    <% @bookings.each do |booking| %>
          <aside class="profile-card">
            <header>
              <a target="_blank" href="<%=booking.id%>">
                <img src=" <%= booking.vehicle.image %> " >
              </a>
                <br>
                <br>
              <h4>
                    <strong><%= booking.vehicle.name %></strong></p>
                    </h4>
                    <br>
              <h2>
    <button> <%=  link_to "DELETE", booking_path(booking.id), class: "btn btn-cancel", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %> </button>
            </header>
         <%= link_to  booking_path(booking.id) do %>
              <div class = "profile-bio" >
              <h4>Date: <%= booking.date[13] %> </h4>
               <h4>   Month:  <%= booking.date[19..20] %> </h4>
                <h4>  Year: <%= booking.date[4..7] %> </h4>
                <h4> Hours: <%= booking.hours %> </h4>
              </div>
      <% end %>
        </aside>
    <% end %>
</div>
