
<div class="text-center padded">
<p class="fs-2">All my reservations</p>
</div>
<%# <a <%= link_to  vehicle_path(booking.vehicle)%> class="btn btn-outline-success btn-sm">Read More</a> %>
<div class="wrapper-dashboard">
    <% @bookings.each do |booking| %>
          <aside class="profile-card">

      <a class="btn btn-outline-success btn-sm">View Booking <%= link_to  booking_path(booking) do %> %>
            <header>
              <a target="_blank" href="#">
                <img src="https://images.unsplash.com/photo-1569263979104-865ab7cd8d13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1748&q=80" class="hoverZoomLink">
              </a>

              <h1>
                    <strong><%= booking.vehicle.name %></strong></p>
                    </h1>

              <h2>
              <p>Category: <strong><%= booking.vehicle.category %></strong></p>
                    </h2>
                    <p><%= booking.user.email %></p>
            </header>

              <div class="profile-bio">
                <p> <%= booking.vehicle.description %> </p>
              </div>
                <i class="fa fa-behance"></i>
        </aside>
    <% end %>
    <% end %>
</div>
