<div class="text-center padded">
  <h2>All my reservations</h2>
</div>
<div class="text-center">
  <h4 id="red-word">MY FUTURE RESRVATIONS</h4>
</div>

<div class="wrapper-dashboard">
  <ul class="list-unstyled">

    <% @bookings.each do |booking| %>
        <li class="dashboard">
        <%= cl_image_tag(booking.vehicle.photo.path, width: 400, height: 300, crop: :fill, class: "pdt-image hidden-xs" ) %>
          <div class='product-body'>
            <h2><%= booking.vehicle.name %></h2>
            <p>Name: <strong><%= booking.vehicle.name %></strong></p>
            <p>Description: <strong><%= booking.vehicle.description %></strong></p>
            <p>Category: <strong><%= booking.vehicle.category %> €</strong></p>
          </div>
    <% end %>
  </ul>
</div>
