<%# <section class="Card">
  <div class="container">
    <h2 class="card-heading">All Vehicles</h2>
    <div class="row">
      <% @vehicles.each do |vehicle| %>
        <%# <div class="col-sm-6 col-md-4">
          <%= render 'shared/card', vehicle: vehicle %>
        <%# </div>
      <% end %>
    <%# </div>
  </div>
</section> %>
<section id="header" class="jumbotron text-center">
     <h1 class="display-3">Luxury Cars</h1>
     <p class="lead">Discover luxury cars below and hire the car of your dreams.</p>
</section>
<section id="gallery">
  <%# <div class="container"> %>
    <%# <div class="row"> %>
    <%# <div class="col-lg-4 mb-4"> %>
    <% raise %>
      <% @vehicles.each do |vehicle| %>
        <%= link_to vehicle.name, vehicle_path(vehicle) %>
    <%# <div class="card"> %>
      <%# <img src="https://images.unsplash.com/photo-1580273916550-e323be2ae537?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80" alt="" class="card-img-top">
      <%# <div class="card-body"> %>
        <%# <h5 class="card-title" style="color:black;"><%= vehicle.name</h5> %>
        <%# <p class="card-text"><%= vehicle.description</p> %>
        <%# <p>$<%= vehicle.price</p> %>
       <%# <a href="" class="btn btn-outline-success btn-sm">Read More</a> %>
        <%# <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a> %>
      <%# </div> %>
     <%# </div> %>
      <% end %>
      <%# </div> %>
    <%# </div> %>
  <%# </div> %>
</section>
