<h2 class="text-center">Start listing with us today! </h2>

<div id="wrapper">
  <div class="row">
    <div class="text-left form-login">
      <h2 class="text-center"><strong>Add my vehicle </strong></h2>
      <br>
      <%= simple_form_for @vehicle do |f| %>
      <%= f.error_notification %>

      <%= f.input :name, label: "Make of your vehicle", placeholder: "BMW, Mercedes..." %>
      <%= f.input :category, label: "Enter vehicle category", placeholder: "Aircraft, car, limousine, yacht" %>
      <%= f.input :description, placeholder: "Courtesy of the 4-litre twin-turbo V8 engine, with 600 PS and 800 Nm of torque, you can accelerate from 0 to 62mph in just 3.6 seconds. Agile handling on the road is assured with dynamic all-wheel steering, and RS-air suspension, adjustable in three stages via Audi Drive Select." %>

      <h4><strong>Thank You!</strong> </h4>
      <br>
     <br>
      <hr>
      <%= f.button :submit, "Submit", class: "btn btn-danger btn-lg"%>

      <% end %>
    </div>
  </div>

</div>
</div>


<%= content_for(:after_js) do %>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyC8nUa2rua2jKRMY-bKdEW9GxRRh55wtIg"></script>
<% end %>

</div>
