        <link href="css/styles.css" rel="stylesheet" />


<h2> </h2>



<%= content_for(:after_js) do %>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyC8nUa2rua2jKRMY-bKdEW9GxRRh55wtIg"></script>
<% end %>

</div>

<div class="login-form">
  <div class="container">
    <div class="login-form">
      <div class="main-div">
        <div class="panel">

          <h2 style="color: #ff6969; font-size: 25px;"><strong>Add your vehicle</strong></h2>

        </div>

       <%= simple_form_for @vehicle do |f| %>

        <div class="row" style="margin-top: 2%;">

          <div class="col-sm-12 col-md-6 form-group">
          <%= f.input :name, placeholder: "BMW, Mercedes..." %>

          </div>

        <div class="row" style="margin-top: 2%;">


          <div class="col-sm-12 col-md-6 form-group">
            <%= f.input :category, label: "Enter vehicle category", collection: ["Aircraft", "Yacht", "Limousine", "Car"] %>
          </div>

        </div>

        <div class="row" style="margin-top: 2%;">

          <%# <div class="col-md-4 form-group">
            <label for="category">Vehicle category, please select</label>
            <select class="form-control" id="category" name="category">
              <option>Aircraft</option>
              <option>Car</option>
              <option>Limousine</option>
              <option>Yacht</option>
            </select>
          </div> %>
<%#
          <div class="row" style="margin-top: 2%;"> %>

          <div class="col-md-4 form-group">
         <%= f.input :price, label: "Enter the price per hour", placeholder: "£250, £1000, £400" %>
          </div>

      <div class="row" style="margin-top: 2%;">

          <div class="col-md-4 form-group">
         <%= f.input :address, label: "Enter your address", placeholder: "Mayfair, Soho..." %>
          </div>

      <div class="row" style="margin-top: 2%;">

          <div class="col-md-4 form-group">
          <%= f.input :description, placeholder: "Courtesy of the 4-litre twin-turbo V8 engine, with 600 PS and 800 Nm of torque, you can accelerate from 0 to 62mph in just 3.6 seconds. Agile handling on the road is assured with dynamic all-wheel steering, and RS-air suspension, adjustable in three stages via Audi Drive Select." %>
          </div>

          <%# IMAGES FOLDER %>

            <%= f.input :image, as: :file %>



          <div class="row" style="margin-top: 2%;">


          <button type="submit" class="btn btn-primary">Create listing</button>

          <%end%>
        </div>

      </div>
    </div>
  </div>
