
        <!-- Product section-->
        <section class="">
            <div class="">
                <div class="d-flex  mx-4 mt-4">
                    <div class="">
                      <img class="" src= <%=@vehicle.image%> alt="..." />
                    </div>
                    <div class="p-4">
                        <div class="small mb-1"></div>
                        <h1 class=""><%= @vehicle.name %></h1>
                        <div class="">
                            <span class="text-decoration-line-through"></span>
                            <span>$<%=@vehicle.price%>/per hour</span>
                        </div>
                        <p class="lead"><%=@vehicle.description%></p>
                        <div class="d-flex">

                            <%= simple_form_for [@vehicle, @booking] do |f| %>
                         <strong><%= f.input :hours, label: "Enter number of hours you would like to hire"%></strong>
                         <strong><%= f.input :date, as: :date, label: "Enter the date"%></strong>
                              <%= f.button :submit, "Submit", class: "btn btn-danger btn-lg"%>
                            <% end %>
                        </div>
                        <div style="width: 100%; height: 600px;"
                        data-controller="mapmap"
                          data-map-markers-value="<%= @markers.to_json %>"
                          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
                    </div>
                </div>
            </div>
        </section>
